@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* src/styles/globals.css */
body {
  background-color: #E5ECF3;
  margin: 0;
  font-family: sans-serif; /* You can customize the font as needed */
}

html, body, #__next {
  height: 100%;
  width: 100%;
}
/* src/styles/globals.css */
.navbg {
  background: #F8FAFC;
  color: black;
  border-radius: 16px;
  height: initial; /* Full viewport height */
}

.circular-img {
  border-radius: 50%;
}

.badge{
  background-color  :  #FFFFFF;
  width: auto;
}
.badgediv{
  text-align:end;

}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
